weights/photosketch_gabled_church_aug.pt filter=lfs diff=lfs merge=lfs -text
weights/photosketch_horse_on_a_side_aug.pt filter=lfs diff=lfs merge=lfs -text
weights/photosketch_standing_cat_aug.pt filter=lfs diff=lfs merge=lfs -text
